[2016-11-28 08:37] JacksonBates opened #1 "The Info modal needs a close button"
The info modal can currently be closed by tapping outside of the modal or pressing the `Esc` key.

While this is fine, it is a little unclear, and on mobile it can be tricky to tap outside of the modal.

We need to change line 74 in App.js (in the src folder) **from** `<Modal.Header>` **to** `<Modal.Header closeButton>`

[2016-11-28 08:41] JacksonBates opened #2 "The form modal needs a close button"
Similar to #1

The form modal can currently be closed by tapping outside of the modal or pressing the `Esc` key.

While this is fine, it is a little unclear, and on mobile it can be tricky to tap outside of the modal.

The form model is on lines 49-72 of App.js in the src folder. It needs a button, and this button needs to be 'wired' up in the constructor part of the component (lines 9-28 of App.j

[2016-11-28 08:50] JacksonBates opened #3 "Improve language used to describe 'available time'"
It is not entirely clear what a user should write to in the form for 'available time'
![image](https://cloud.githubusercontent.com/assets/4337740/20661466/fc7b7c98-b5a2-11e6-840c-db7d752a1728.png)

The intention is that people write, in hours and minutes, how long they currently have available to them for pair programming.

E.g. If a user has 3 hours, they should write `3:00`. (Or `03:00` ideally,

[2016-11-28 08:54] JacksonBates opened #4 "Improve language to describe 'preferred setup'"
Similar to #3.

![image](https://cloud.githubusercontent.com/assets/4337740/20661654/0fe057ee-b5a4-11e6-91f2-dae088860384.png)

The language used to ask users to describe their preferred set up may be unclear.

The intention of this field is to get users to describe the tools they are best able to use on their system.

E.g. Do they wish to use ScreenHero and Skype, or does TeamViewer and Google Ha

[2016-11-28 09:04] JacksonBates opened #5 "Remove the seconds from the time string on the noticeboard cards"
When a user successfully adds a card to the noticeboard, the available time is rendered as HH:mm:ss

See:
![image](https://cloud.githubusercontent.com/assets/4337740/20661830/d14c70d4-b5a4-11e6-8678-35d67ec52787.png)

The seconds part is unnecessary, the string only needs to show the remaining HH:mm (leaving the timezone information in tact).

Ideally, this problem can be solved without relying on

[2016-11-28 09:12] JacksonBates opened #6 "Is the round trip to the backend 'Reacty' enough?!"
## Update
@jenovs has made some great progress with this. The delete button could use the same love as the main 'add' form (i.e. handle the change on the client side without bouncing off the pairboard domain).

## Original question:
Noob React question:

The modal form users use to add their availability to the noticeboard uses the 'post' method. This posts to the backend api at https://enigmatic-

[2016-11-28 09:17] JacksonBates opened #7 "Remove 'mock-data.json' from the repo"
This is an easy fix and perfect for a first timer!

All you have to do is literally delete the mock-data.json file in the src folder, commit the change and make a pull request.

Discuss below :)

[2016-11-28 09:19] JacksonBates opened #8 "Improve the favicon"
Currently the app uses the React favicon.

Let's change that! We have no logo to speak of, so share your ideas below. We should make the favicon for all devices, too.

[2016-11-28 09:22] JacksonBates opened #9 "Change the title of the html page"
The app still has the boiler plate 'React App' as its title...how embarrassing!

It should say 'Pairboard', or something.

Change line 23 of index.html in the public folder to something more appropriate, commit your changes, open the pull request and celebrate your first real PR!

[2016-11-28 09:27] JacksonBates opened #10 "Remove the commented out module import from index.js"
Oh, how embarrassing!

We deployed some commented out cruft in our noobish enthusiasm.

Right this wrong: remove line 5 from index.js in the src folder, commit your change, open the pull request and know that you are a better person than me!

[2016-11-28 09:30] JacksonBates opened #11 "Remove the redundant 'title' prop in index.js"
As a younger man, a week younger to be precise, I foolishly left a silly title prop in my app component. Don't you hate it when your youthful indiscretions are so publicly visible in open source repos?

Please save my honour!

Remove the title prop from the app component on line 8 in index.js in the src folder, commit your change, open a pull request and let's never speak of this again.

[2016-11-28 09:35] JacksonBates opened #12 "Remove logo.svg"
Another casualty from the create-react-app genesis of this app...the logo.svg. It's gotta go.

Delete the file from the src folder, commit the change, open a pull request, and high-five the nearest sentient being. Don't let them leave you hanging - you earned it.

[2016-11-28 09:36] JacksonBates opened #13 "Improve the README.md"
The current README.md is just the automatically generated one for all create-react-apps.

Discuss below what you think it should include, and we can start making it more relevant.

[2016-11-28 09:39] JacksonBates opened #14 "Remove the redundant CNAME file"
To aid the deployment process via surge.sh, we have a CNAME file that remembers the URL. There also happens to be a rogue one.

Remove the CNAME file from the ROOT folder, not the public folder.

Repeat: Seek and destroy the imposter in the root folder - the public folder contains the one true CNAME file.

Succeed in your quest, commit the change, open the pull request, and dine out on this tale f

[2016-11-28 15:50] alichristensen commented on #10
I've taken care of this one, hopefully all is well

[2016-11-28 19:39] jenovs commented on #1
Can't we just add `closeButton` attribute to `Modal.Header`?

[2016-11-28 20:37] #10 closed

[2016-11-28 20:43] #9 closed

[2016-11-28 20:46] #7 closed

[2016-11-28 20:57] #14 closed

[2016-11-28 20:59] #12 closed

[2016-11-28 21:09] JacksonBates commented on #11
Eelsie is working on this one :)

[2016-11-28 21:19] JacksonBates commented on #1
Maybe - I didn't read the docs to closely :)

Do you fancy giving it a try? If it turns out to be that easy, we can modify the similar issue #2 and make it an easy first-timer gig.

[2016-11-28 21:26] jenovs commented on #1
Works like a charm:

![close](https://cloud.githubusercontent.com/assets/10571704/20686527/c5e25b42-b5c1-11e6-9558-1e18ddfae146.png)

[2016-11-28 21:52] JacksonBates commented on #1
Cool - you wanna make the pull request?

[2016-11-28 22:05] JacksonBates opened #23 "Handle the unhandled Promise rejection thrown by the App.test.js"
Currently, the only test we run is one that checks whether the app renders successfully.

You can do this by running `npm run test` at the terminal.

However, while the test passes, this warning is given:

This is likely because the backend only accepts requests from the pairboard.surge.sh domain, and the test is probable coming form localhost.

So the first issue to solve is to handle the promise

[2016-11-28 22:10] jenovs commented on #1
Ok.

[2016-11-28 22:20] jenovs commented on #23
There is missing `catch` statement after `fetch`. In node 7.0.0:

It should be like this:
[code]

[2016-11-28 22:26] #2 closed

[2016-11-28 22:28] JacksonBates commented on #1
Oops, I just noticed you added it to the form modal, not info :)

Oh, well. I'll close issue #2 and add this process to #1 instead for first timers :)

[2016-11-28 22:32] jenovs commented on #1
Ups :tired_face:

[2016-11-28 22:33] JacksonBates commented on #1
@jenovs Code review is only as good as your code reviewer, eh ;)

[2016-11-28 22:42] JacksonBates commented on #13
At a minimum, I think the README should include how to use `npm start` and `npm run test` while developing locally.

~~I realise the contributing file kinda assumes people have node and npm installed - we may need to update that there.~~

~~The readme probably also needs to explain that the app uses a backend api that can currently only be accessed from the http://pairboard.surge.sh domain - for p

[2016-11-28 22:43] JacksonBates commented on #23
Cool. Have you tested that?

[2016-11-28 22:46] jenovs commented on #23
Yep. All one test case pases :smile:

[2016-11-28 22:50] JacksonBates commented on #23
Awesome :) Feel free to PR

[2016-11-28 22:56] jenovs commented on #23
It's 1am here. I'll leave it for tomorrow.

If someone wants to make PR, feel free to do it. If no takers I'll PR tomorrow.

PR created.

[2016-11-28 23:09] sunsplat commented on #5
I can work on this!

[2016-11-28 23:35] sunsplat commented on #5
I'm confused as to how to implement the app. When I click +Add, it takes me to pairboard.surge.sh. Is there a way I can just have a version on my local machine?

[2016-11-28 23:39] sunsplat commented on #5
I've submitted a pull request for this issue to be looked at. Thanks!

[2016-11-29 00:56] JacksonBates commented on #5
@sunsplat I opened up collaboration before I really thought about having separate dev and prod environments - so at the moment all the redirects kick you off of localhost and stick you back on the live environment! Sorry for the trouble this causes, I know it's annoying :)

We'll try and improve that aspect of the project (as soon as someone who has a better idea of how to organise the project com

[2016-11-29 01:15] #5 closed

[2016-11-29 04:21] JacksonBates opened #27 "Users should not be able to delete other users' posts"
At the moment the delete button naively allows anyone to delete any post.

Ideally, only the user that created the post should be allowed to delete a post.

In the longer term, we'll restructure the app so that users must be authenticated to allow use of the app (both posting and deleting).

A short term fix could be to use cookies to identify users and only allow the person with the matching cook

[2016-11-29 04:34] JacksonBates opened #28 "How do we manage local development and production environments?"
As a total noob, I don't know how to correctly organise this project so that it is easy for other people to work on it and test stuff locally.

If YOU know how to better organise this, comment below :)

[2016-11-29 05:04] alichristensen commented on #4
What about instead of "Preferred setup" something like "Preferred Pairing Technology" and then input type="checkbox" with those examples you listed above and maybe a text input for an option not already listed?

[2016-11-29 05:19] JacksonBates commented on #4
That sounds like a sensible approach.

Do you wanna try and remix the form a little so it does that?

[2016-11-29 05:39] jer244 commented on #1
I just submitted a PR for this issue.  Thanks @jenovs for doing the 'hard part'!

[2016-11-29 05:39] alichristensen commented on #4
I will certainly try! It's getting late here though so if no one else is interested I will work on this first thing tomorrow

[2016-11-29 05:44] #1 closed

[2016-11-29 06:47] MitchWilkins commented on #27
I will try using cookies. I think that isn't a bad fix without implementing a log in system.

[2016-11-29 06:50] JacksonBates commented on #27
Yeah, it's a bit of a hack, but it will plug the gap until we do a major upgrade to the backend.

[2016-11-29 07:32] MitchWilkins commented on #28
I think it is important to have a clear vision. What does this accomplish? What are the key components? How do people work on them? That could be added or could replace the README page.

I think the Slack channel is good and the communication through the issues tab is effective.

There is a projects tab next to the pull requests tab that we could use to organize tasks/stories. There are also thing

[2016-11-29 11:49] ThomasBullock commented on #28
Gulp js is really good for this. [https://scotch.io/tutorials/automate-your-tasks-easily-with-gulp-js](url)                                                                                                                                                                    Are you open to setting this up with the Sass version of Bootstrap? It's modular so would help with collaboration plus makes it e

[2016-11-29 12:10] JacksonBates commented on #28
Thanks @ThomasBullock.

Pardon my ignorance - but the create-react-app tool this was built with uses webpack in it's build process. Do you think that will cause issues, or do they play nicely together?

[2016-11-29 13:15] ThomasBullock commented on #28
Don't worry about ignorance - I'd never heard of webpack :) Looking into it though it appears they do play together. [http://stackoverflow.com/questions/33558396/gulp-webpack-or-just-webpack](url) . Whether you need gulp remains to be seen however as maybe webpack can do it all and save you adding yet another FE technology. I don't know enough about webpack. Is it handling your css or just the js?

[2016-11-29 13:22] hristijankiko commented on #28
Why would you use two build tools? gulp and webpack. I think one is good enough, and webpack is the perferred one for working with React. Or is there a feature that gulp has and webpack doesn't that I'm not aware of?

[2016-11-29 15:31] jenovs commented on #6
Page refresh after each change doesn't look Reacty.

Here https://facebook.github.io/react/docs/forms.html is suggested to use controlled components and use separate function to submit form.

I think we could use something like axios to make POST less painful (`XMLHttpRequest` is just too much code).

I tried to implement ajax call, but redirect from backend is screwing me over.

API should send b

[2016-11-29 15:44] jv88899 commented on #3
What if you said "Length of Time Available for Pairing (example: 03:00 = 3hrs)"?

Or, you could do "Length of Time Available for Pairing" and then have them choose from a dropdown menu that offered hours/minutes using 15 minute increments?

[2016-11-29 16:33] tdreid commented on #4
The section on remotes in [Wikipedia's Pair Programming article](https://en.wikipedia.org/wiki/Pair_programming#Remote_pair_programming) might be helpful when it comes to choosing terminology.

Mashing up phrases from the article "preferred shared desktop software" or "preferred collaboration software" could get the point across.  I like the above ideas about providing examples in any case.

[2016-11-29 16:49] tdreid commented on #3
Similar @jv88899 's suggestion a slider could clarify as well as put the entry in the ideal format.

Longer term would you want to capture a schedule and time zone instead of raw hours available?

[2016-11-29 16:52] jv88899 commented on #3
@tdreid I was thinking along those same lines as well. You could have an input for available start time and an input for available end time and then have them choose a timezone.

[2016-11-29 18:30] BenGitter commented on #8
It seems like this [site](http://realfavicongenerator.net/) makes it easy to get it to work on all devices.

[2016-11-29 21:12] JacksonBates commented on #28
If you run `npm install` in your forked repo, you'll be able to see the node_modules etc.

The webpack config is in `node_modules/react-scripts/config`:
![image](https://cloud.githubusercontent.com/assets/4337740/20729017/7763e0d0-b6d4-11e6-86c0-25c86cadca98.png)

Theres one for dev and for prod - so we should take a look through those carefully to determine what's going on and what we need to do.

[2016-11-29 21:18] JacksonBates commented on #6
Yeah...I was originally looking into axios, but P1xt's deadline was getting too close!

We can probably make the change to the backend without updating the versioning, since it's just fixing the behaviour.

I have plans for v2! (Mostly auth and internal messaging)

[2016-11-29 21:21] JacksonBates commented on #4
I think since the primary target audience is Campers (well, currently they are the _only_ ones who can use it), we should keep the options simple.

Maybe something like:
**Screen Sharing**
[  ] TeamViewer [  ] ScreenHero
**Voice**
[  ] Skype [  ] GoogleHangouts

[2016-11-29 21:40] JacksonBates commented on #3
This introduces unnecessary complications I think - As soon as people start having to work out the timezone differences for themselves, it'll start putting people off.

Longer term some sort of scheduling tool might be good - but we'll get authentication and internal messaging off the ground first.

I like this language suggestion. That could be implemented straight away if you want to do it.

A s

[2016-11-29 21:45] JacksonBates commented on #8
Yeah, I was thinking http://www.favicomatic.com/ :) but same idea.

We need a favicon first, though...at the moment it's just the standard React one.

I've put out the feelers for someone to design one, so we'll see if we get any takers.

[2016-11-29 21:46] #23 closed

[2016-11-29 21:48] jenovs commented on #6
I think redirect in POST `/add` route could be easily replaced with `res.status(200).send()` without any consequences, because page will be refreshed after form submit by default, and then it could be overwritten in js on FE.

I think we can start with that and then we'll see.

[2016-11-29 22:19] JacksonBates commented on #6
That'll make local dev easier, too, since it won't force a bounce to pairboard.

[2016-11-30 13:27] jv88899 commented on #3
I can take the task of changing the language to "Length of Time Available for Pairing (example: 03:00 = 3hrs). I'll work on it tonight (I live in Midwest US, Central Time).

[2016-11-30 13:38] JacksonBates commented on #3
:+1:

[2016-11-30 20:10] hristijankiko commented on #3
I think we should create a circle with question mark next to the label that shows tooltip when you hover over it. Inside that tooltip we can write explanation as long as we want.

[2016-11-30 20:51] JacksonBates commented on #3
That's a good idea @hristijankiko - There's a current PR open for this, so I'll see what changes were suggested there.

If it is still useful to add after that PR is merged we'll add that to the todo list.

[2016-11-30 21:03] #8 closed

[2016-12-01 01:11] JacksonBates commented on #6
The propsed PR fix for this issue (#34) doesn't quite fix it, yet.

See: https://github.com/JacksonBates/pair-backend/issues/14

[2016-12-01 01:56] alichristensen commented on #4
I just submitted a pr with an updated form

[2016-12-01 07:39] jenovs commented on #6
Redux will be overkill. We should start from backend by adding additional routes so we can test and tweak them without breaking the frontend.

[2016-12-01 08:33] JacksonBates commented on #6
That's smart thinking.

[2016-12-01 11:23] #4 closed

[2016-12-01 11:28] #11 closed

[2016-12-01 11:38] JacksonBates opened #38 "Fix CSS for contents of user-cards on mobile"
![](http://i.imgur.com/3y8NUpB.jpg)

The 'user-cards' text can overflow and respond poorly to the current constraints of the CSS. See screenshot. Notice the (AEDT) behind the delete button on card 2...

These should be improved.

[2016-12-01 11:44] JacksonBates opened #39 "Fix CSS for 'user cards' position when below footer on mobile"
![](http://i.imgur.com/DMy7Qxj.jpg)

On mobile, too many user cards makes it impossible to delete the lowest on screen - the delete button is obscured by the footer bar and cannot be scrolled past.

[2016-12-01 12:22] tdreid commented on #3
There are implementations where the answers can be yes and yes. There's discussion of how to approach sliders as a keyboard accessible enhancement in this [ux.stackexchange question](http://ux.stackexchange.com/questions/42522/sliders-and-accessibility-usability-of-sliders-for-users-with-disabilities) and this http://www.html5accessibility.com/ tracks which HTML5 elements have UA support in which

[2016-12-01 16:10] kevcomedia commented on #38
Can I have a shot tomorrow (now is sleep time)? If somebody else wants to take this, feel free.

[2016-12-01 19:32] fotonist commented on #39
if no one deal with this I can work on it. How can I get it?

[2016-12-01 20:09] JacksonBates commented on #38
It's all yours Kev!

[2016-12-01 20:10] JacksonBates commented on #39
Do you just mean how do you claim the issue to work on? Or how do you run the local version to work on it?

[2016-12-01 20:56] fotonist commented on #39
Actualy I do not know what is "claim issue" and when starting a project where should I begin first. I think, firstly I may need its local version.
And the other problem which I wrote you on forum page, on github I tried to change FIRST_PR_CLUB.md. That is fine for my local repo but I could not merge it to your upstream repo.

[2016-12-01 21:24] JacksonBates commented on #39
You can't merge directly with this repo yourself. You need to open a Pull Request.

Let's work through getting your FIRST_PR_CLUB.md change into the repo first.

[2016-12-01 21:26] JacksonBates commented on #39
We will communicate through the forum for this, to keep this thread on topic.

[2016-12-01 23:56] JacksonBates opened #42 "Error in camper.js when null or undefined is passed to 'setup'"
#36 Introduced a bug that can crash the app under certain circumstances.

If a user submits a post with a null or undefined 'setup' value, the react app can't render the page or allow new posts to be added.

@jenovs' codepen api request is the thing currently triggering the problem (don't click this unless you know how to use Postman to clean up after yourself :) ) http://codepen.io/jenovs/pen/pNW

[2016-12-02 00:14] planigan opened #43 "User card displays 'other' setup options incorrectly"
I was playing with this on surge. I have wanted to try out zoom.us, so I put that in other. The card that is displayed shows: `z, o, o, m, ., u, s`. No idea why that field would have a split done on it, but that's kinda my suspicion.

[2016-12-02 00:22] JacksonBates commented on #43
@alichristensen FYI :)

Thanks @planigan - The code parsing that form input splits the data before spitting it back out, because it's assuming you've used the checkboxes.

We'll get around to fixing it (unless you wanna take a stab at it -- all welcome :) )

[2016-12-02 00:25] planigan commented on #43
I am digging through the code now. If I figure it out, I'll take a stab at it.

[2016-12-02 00:26] JacksonBates commented on #43
That's the spirit :+1:

[2016-12-02 01:35] JacksonBates commented on #28
Ok, I've been thinking about this...looking for feedback / ideas:

We want to ensure that when a contributor runs this on localhost using `npm start`, that it communicates with a dev version of the backend as well - which means the backend repo should also be running with `npm start` and mongod should be running.

Then it should GET, POST, and DELETE to and from the dev backend. This likely means

[2016-12-02 02:33] JacksonBates commented on #3
Language has been updated - if anyone wants to try implementing a slider, open a new issue / pull request :)

[2016-12-02 02:33] #3 closed

[2016-12-02 02:59] planigan commented on #43
I've discovered something slightly disturbing and I'm not sure that it should be shared publicly. Is there any other channel set up to communicate about the project that has direct messaging?

BTW, the FCC twitch channel supports DMs I think. In case you don't have a preferred chat channel.

[2016-12-02 03:18] JacksonBates commented on #43
PM me on the forum: https://forum.freecodecamp.com/users/jacksonbates

[2016-12-02 20:11] #38 closed

[2016-12-02 23:53] planigan commented on #42
I just tested with not checking a checkbox and not filling in other against the code I submitted to solve #43 and if I'm understanding this issue correctly, #48 resolves this as well.

[2016-12-03 00:20] planigan commented on #42
BTW, I didn't mean to imply that there was not still an issue with a lack of validation. Rather, I see no error when submitting empty values.

[2016-12-03 00:56] JacksonBates commented on #42
Submitting empty values is ok, but the problem comes when using something like Postman or an Ajax request to post null values.

It's not standard behaviour, and we'll lock down the access origin stuff soon so it won't be an issue, but backend validation would still be a nice safety net.

[2016-12-03 11:12] MarcPorciuncula commented on #6
Has anyone started work on making the form controlled? Otherwise I might have a stab at it

[2016-12-03 11:50] JacksonBates commented on #6
Thanks, Marc. This is on hold while we figure out some backend issues.

[2016-12-04 09:41] #43 closed

[2016-12-04 09:46] JacksonBates opened #50 "Make the info modal text more relevant"
The current info modal text was designed to merely explain the technology stack used and provide a little context for those viewing it after the challenge that inspired it.

It would be better to have clear and purposeful information about what the app is for, who it is for , and how to use it.

It should be much shorter and genuinely informative - not just conversational trivia.

[2016-12-04 09:58] #42 closed

[2016-12-04 11:52] jenovs commented on #6
Two new routes were added to backend:
To create a post make a POST request to https://enigmatic-dawn-95873.herokuapp.com/api/v1/posts with JSON data in the body of the request.
Response will be created data in JSON format (same as for GET request).
To delete a post make DELETE request to https://enigmatic-dawn-95873.herokuapp.com/api/v1/posts/id where `id` at the end of the url is id of the post.

[2016-12-05 01:28] planigan commented on #28
That's the right track, yes. Of note, though, the magic that create-react-app is doing, I start the backend locally and then start the front end, it finds the conflicting ports and asks to use another, choosing 3001. This is not ideal and should be fixed, but I thought it was pretty nifty that it did that.

[2016-12-05 01:50] JacksonBates commented on #28
@planigan that is pretty cool - I hadn't tried running them concurrently yet, but that will serve as a workaround until we change one of the ports. Once I've merged the current backend PR I'll have the cognitive space to think this one through to its conclusion :)

[2016-12-05 06:11] JacksonBates commented on #50
Added first-timer label - even if you're not super confident about what to write, you can run some copy by me first and that makes this an easy first PR :)

[2016-12-06 00:18] JacksonBates opened #52 "Contributing.md should include reference to Node and NPM"
## Update
Step by step instructions below! First timers only, please :)

## Original post

The contributing.md needs to include Node, NPM and Mongo in the 'You will need section'

@planigan already did this in the backend repo, so you can steal his code, making this **perfect for a first timer**!

https://github.com/planigan/pair-backend/commit/f14d5b51618561b277e5cd651465cf833e338fad

**Note: thi

[2016-12-06 08:26] JacksonBates opened #53 "Contributing.md needs to tell contributors how to clone their fork on to their system"
:)

[2016-12-06 19:29] jenovs commented on #6
Created PR with refactored Form (still needs some additional fixes).
Delete button is still up for grabs.

[2016-12-06 21:16] fotonist opened #61 "Needs to solve shrinkage of profile photos"
![profile_image_size2](https://cloud.githubusercontent.com/assets/20875928/20944117/462d7ce4-bc13-11e6-9874-f301b348a515.JPG)

After chosing all pairing technologies a shrinkage occurs on profile images and the delete button is sliding to left.

[2016-12-06 21:20] fotonist opened #62 "Unlimited data can be entered in textboxes"
Textbox data need to be limited
![profile_image_size2](https://cloud.githubusercontent.com/assets/20875928/20944168/752778c4-bc13-11e6-8615-d01d7db04d9d.JPG)

[2016-12-06 21:44] #39 closed

[2016-12-06 22:04] JacksonBates commented on #6
@jenovs Just tested your changes locally - it's great.

[2016-12-06 22:08] JacksonBates commented on #61
A little movement is fine (it was intentionally designed that way by @kevcomedia to allow the image to be responsive), but I think a minimum scale size that is still reasonable is a good idea.

[2016-12-06 22:11] jenovs commented on #28
I think there should be two options for contributors - full setup with db etc. and light setup with some hardcoded mock data for people who just want to fix some CSS. Default of course should be light one.

One option I think could be creating `config` file with something like this:
[code]

Then in `App.js` and `Campers.js` require this config file and replace `http://this.is.heroku.server` with r

[2016-12-06 23:05] JacksonBates opened #64 "User-cards are added incorrectly"
On a desktop sized screen, cards should be presented in two columns and new cards are added from left to right.

Currently they do not do this:

![image](https://cloud.githubusercontent.com/assets/4337740/20947728/ab19bc3e-bc64-11e6-8f53-35a3c5aed52e.png)

[2016-12-06 23:09] zsoltime commented on #64
Oops, I think it was me. Fixing it right now :)

[2016-12-06 23:10] JacksonBates commented on #64
:laughing: I was gonna blame @kevcomedia

[2016-12-06 23:18] zsoltime commented on #64
No, it was my fault, however, it's fixed now.  :D

[2016-12-06 23:21] #64 closed

[2016-12-06 23:54] JacksonBates commented on #52
Here is the required change exactly:

## Step one
Follow the instructions in CONTRIBUTING.md to fork and clone the repo so you have a working copy on your system. You will need git installed, and windows users will have an easier time using gitbash as their terminal :)

## Step two
Open the CONTRIBUTING.md on your computer in your text editor of choice. I like VS Code, but Atom and Notepad++ are d

[2016-12-07 00:07] fotonist commented on #39
double fixed. Maybe I have to delete scroll-style class . That gave much empty space between footer and ending user card.

[2016-12-07 00:13] JacksonBates commented on #39
@fotonist no more work is needed on this. It's fixed

[2016-12-07 00:44] planigan commented on #28
Could also do something like:

[code]

Then use [dotenv](https://www.npmjs.com/package/dotenv) and an .env file for configuration.

[2016-12-07 01:42] kevcomedia commented on #61
I should have added `min-width` and `min-height`.

I could probably fix this, but I'm thinking of letting others do so.

[2016-12-07 04:53] varunbabu008 commented on #62
How many characters are we looking for here ?

[2016-12-07 06:04] #52 closed

[2016-12-07 06:04] #53 closed

[2016-12-07 06:06] JacksonBates commented on #61
@kevcomedia yeah, leaving the low hanging fruit for newbies is my thinking too :)

[2016-12-07 06:10] JacksonBates commented on #62
I'm not sure - maybe do some tests on mobile and desktop and take some screenshots. I think we want to communicate the basic idea of what people are interested pair programming with maybe a maximum of 4-5 words... maybe less?

[2016-12-07 11:51] jenovs commented on #28
So I implemented my suggestion in code and made a PR.
Seems to work.

[2016-12-07 11:57] JacksonBates commented on #28
Cool - I'll check tomorrow. I'm working on the delete button at the moment :)

[2016-12-07 12:00] fotonist commented on #61
fixed it :)

[2016-12-07 12:06] varunbabu008 commented on #62
Just tested the app on Desktop. Contrary to what you see on the post by @fotonist (which I think was tested on mobile), in desktop the text doesn't wrap around. It goes out of screen area. Image attached
<img width="1279" alt="screen shot 2016-12-07 at 17 31 25" src="https://cloud.githubusercontent.com/assets/16211277/20967086/87806e82-bca3-11e6-8268-3bf1af344178.png">

[2016-12-07 21:52] #28 closed

[2016-12-07 21:54] JacksonBates opened #71 "Documentation needed for local development"
The process for running and testing locally provides a couple of options for contributions.

These need to be thoroughly documented. I propose a separate file explaining the processes available, and this can be linked to in the CONTRIBUTING.md and eventually the README.md

[2016-12-08 01:59] #6 closed

[2016-12-08 02:00] JacksonBates commented on #6
#70 fixes the delete button and closes this big issue!

Go team!

[2016-12-08 02:24] #62 closed

[2016-12-08 07:33] jenovs opened #72 "Update local config"
Frontend:
- [x] move server back to root;
- [x] uncomment `localhost` in `config.js`;
- [x] uncomment `res.setHeader('Access-Control-Allow-Methods', 'GET, POST, DELETE');` in `server.js`.

~~Backend:~~
~~change port in backend `config_template.json` to `3001` (change it also locally in gitignored `config.json`);~~
~~lock down the backend server.~~

[2016-12-08 11:06] JacksonBates opened #73 "Create npm script for running local dev without DB"
Rather than have contributors write `node server/server.js` to fire up the lightweight server without the DB, and NPM command would be better:

`npm run dev` or `npm run dev-lite` something like that...

[2016-12-08 11:46] JacksonBates commented on #72
'change port in backend' is being dealt with here: https://github.com/JacksonBates/pair-backend/issues/32

@NathanGell has claimed it :)

[2016-12-08 11:48] JacksonBates commented on #72
'lock down the backend server.' is an open issue here: https://github.com/JacksonBates/pair-backend/issues/37

@Kornil has an open PR addressing this. It will be merged as soon as the ports are changed too.

[2016-12-08 14:25] jenovs opened #74 "Deleting post doesn't free its position"
Deleting a post deletes it from the database on the server, but only hides it on the frontend. Its place stays hidden until the page is refreshed.

[2016-12-08 14:30] jenovs commented on #74
I think deleting should be performed by removing data from `campers` array in `App.js`, i.e. deleting function should be in `App.js` and be passed to `Campers.js` via props.

[2016-12-08 21:45] JacksonBates commented on #74
Well spotted.

Another related issue this causes is that when you add another one after having deleted one, the new one replaces the previous last, and the previous last covers up its 'younger' sibling.

eg:

Add card 1, 2, 3.
Delete card 1 (it disappears from top left, 2 & 3 stay in place)
Add card 4 (Card 4 replaces 3, 3 replaces 2, 2 is covered, top left is still blank)

[2016-12-08 22:44] JacksonBates opened #75 "Integrate continuous polling for DB data (Wish list!)"
Possibly a way to solve #74

The app could quietly keep track of activity in the database and update the page in real time (or close enough to it).

So a user with the app open on their screen can see other users adding of deleting posts without the need to refresh.

[2016-12-09 00:44] planigan commented on #75
This sounds like a use case for Websockets. The front end needs to connect to the backend and listen for events. The backend needs to emit a delete event to all connected clients when a card is deleted.

Of course, polling would work also, but it would obviously be less efficient.

[2016-12-09 02:07] IsaacAbrahamson commented on #50
Checking this out right now.

[2016-12-09 04:25] jenovs commented on #75
Sockets is the last chapter in Udemy's backend course I'm taking. Haven't watched it yet though. I postponed it for "later when I need it". I may need it now 😊
Anyway, when I finish my Voting app I'll look into it if no one will.

[2016-12-09 04:34] JacksonBates commented on #75
Sockets was my guess too.

I actually just stopped the Stock Chart App to work on pairboard instead a couple of weeks ago and didn't learn socket.io like I was supposed to. Seems like fate has brought us to that point anyway :)

[2016-12-09 04:40] JacksonBates opened #77 "Errors are ignored by the frontend"
The backend routes send a variety of error messages. These are not handled or communicated by the frontend.

I'm thinking toasts...

If we implement that, some success toasts might be a nice touch too.

[2016-12-09 08:30] varunbabu008 commented on #75
@jenovs Was wondering which backend course are you taking ? Was thinking of doing a backend course to get a good grasp. Looks like there is plenty out there

[2016-12-09 08:52] jenovs commented on #75
@varunbabu008 https://www.udemy.com/the-complete-nodejs-developer-course-2/
I got it on sale for 11EUR, but you can easily find a coupon online with 97% off.

[2016-12-09 10:39] JacksonBates opened #78 "CSS issues"
Some structural changes to the React components have introduced some subtle changes to the CSS.

On desktop, user-cards now appear to be horizontally connected rather than separated.

On mobile, there is some horizontal movement when swiping around (see header etc)

[2016-12-09 10:45] JacksonBates commented on #74
I think #76 may have fixed this. Can anyone confirm? (Although it does seem to have added #78)

[2016-12-09 10:50] jenovs commented on #74
No it didn't.
Create 2 posts, delete the first, create another one (use different usernames).

[2016-12-09 11:03] JacksonBates commented on #74
Hmmm - I'm getting a slightly different bug, but I think you're right that it is still related.

I'm also noticing that the first post to an empty board doesn't necessarily appear without a refresh.

[2016-12-09 13:05] fotonist opened #79 "Can not create new user card"
I tried to create new user card but the noticeboard page seems empty on localhost??

[2016-12-09 16:41] jenovs commented on #79
Works for me. Did you start the server?
If not, open another terminal window and type `node server/server.js`, it should show `Server started on port 3001...`

[2016-12-09 16:48] fotonist commented on #79
Yes I started on 3000.` node server/server.js ` started but  page shows` Cannot GET / `

[2016-12-09 16:51] jenovs commented on #79
No. You should open two terminal windows. In one you type `node server/server.js` which will start local server with some fake data (on port 3001), and then you type in second window `npm start` which will start React app and open it in browser (on port 3000).

[2016-12-09 16:54] fotonist commented on #79
I see. It is ok now. Thank you @jenovs 👍

[2016-12-09 16:56] #79 closed

[2016-12-09 16:56] jenovs commented on #79
Also, open `server/server.js` file, find this line:
`// res.setHeader('Access-Control-Allow-Methods', 'GET, POST, DELETE');`
and uncomment it. Then start the server again.

[2016-12-09 18:16] jenovs commented on #74
Hopefully fixed. See PR.

[2016-12-10 13:35] MARKJ78 commented on #78
Pull request issued.

[2016-12-11 07:43] #74 closed

[2016-12-11 08:34] #72 closed

[2016-12-11 09:19] JacksonBates commented on #75
I'm gonna fiddle with this one for a bit

[2016-12-11 11:37] #75 closed

[2016-12-11 21:55] #78 closed

[2016-12-11 23:57] #61 closed

[2016-12-12 00:03] Chovin opened #86 "400 (Bad Request) trying to add card with "new" account?"
I tried to add a card using my forum account.
It gave me a 400 in the console.
I've never made a post with the account but it is definitely on there.
[code]

[2016-12-12 00:10] JacksonBates commented on #86
It works for me.

![image](https://cloud.githubusercontent.com/assets/4337740/21084689/6f8f0976-c05b-11e6-9876-a2b15338df27.png)

Can you provide more details? Were you doing this on a local server or the live app? What exactly did you enter for each of the form fields?

[2016-12-12 00:11] JacksonBates commented on #86
The age of the user account is a red-herring, since we don't do any checking - we just assume the user exists if you say it does. (Obviously the links and images won't work in those cases though)

[2016-12-12 00:11] Chovin opened #87 "Can't type in the "Other" pairing tech option"
Using Chrome Version 56.0.2924.18 dev

[2016-12-12 00:13] JacksonBates commented on #87
This is a known issue amongst the team - but we hadn't added it here yet. Thanks for adding it.

Just to clarify - it doesn't work on any browser :)

[2016-12-12 00:14] Chovin opened #88 "Can post as other people"
Steps to reproduce:
1. click Add
2. type any active forum username in **Forum username:** textbox
3. fill out the rest and submit

![image](https://cloud.githubusercontent.com/assets/17536161/21084717/8e0d9faa-c053-11e6-8c15-8b2d8cf2cabe.png)

[2016-12-12 00:15] JacksonBates commented on #88
This is not an 'issue' as such, but it is not ideal.

v2 of the Backend API will address this, and remove the need for a forum account to participate.

[2016-12-12 00:15] Chovin commented on #87
sorry for the slew of issues.
It's great seeing you guys actively working on this.
I'd love to jump in when I get the time :+1:

[2016-12-12 00:16] JacksonBates commented on #87
No worries - we appreciate the issues. While we know about all of them, we do forget to add them clearly ourselves sometimes :)

[2016-12-12 00:18] Chovin commented on #86
Hmm.. Seems to be working.
I was probably getting caught by #87
This time I chose a default pairing and it worked.

![image](https://cloud.githubusercontent.com/assets/17536161/21084742/162b059e-c054-11e6-9545-79c52465f4c6.png)

![image](https://cloud.githubusercontent.com/assets/17536161/21084749/2628ebfa-c054-11e6-9bb6-e0f6b7abe474.png)

![image](https://cloud.githubusercontent.com/assets/175361

[2016-12-12 00:19] Chovin commented on #86
closing :+1:

[2016-12-12 00:19] #86 closed

[2016-12-12 00:20] Chovin commented on #88
sounds good.
I forgot there was a back-end repo. sorry about that.

[2016-12-12 00:21] JacksonBates commented on #88
See https://github.com/JacksonBates/pair-backend/projects for details

[2016-12-12 00:24] Chovin commented on #87
You speak as if you have a means of easy communication within your team.
How would people that want to contribute join that so as to know what needs to be done and where to contribute, etc.?

[2016-12-12 00:28] JacksonBates commented on #87
Most of the communication is handled via the Issues threads and Pull requests on GitHub. Sometimes people reach out to me via the forum or a couple of different Slack groups I'm also in.

Everything that should be discussed properly should be in issues threads though - which works 90% of the time, except for when there are small omissions.

[2016-12-12 16:58] jenovs commented on #88
I was thinking about adding authentication (as a practice), but it seems that it'll require structural changes to the app done simultaneously on back-end and front-end (as the link in previous post describes).

[2016-12-13 13:11] fotonist opened #90 "Did server port change?"
I can not create user cards at localhost:3000

[2016-12-13 14:57] kevcomedia opened #91 "At least one pairing tech should be selected"
![image](https://cloud.githubusercontent.com/assets/17902987/21144811/f7a839dc-c186-11e6-9f8a-e95a9e4dbb7a.png)

It's odd to display a user card with no preferred pairing tech.

[2016-12-13 16:57] JacksonBates commented on #90
Yes, sorry. We changed the mock backend server to 3001 so it didn't conflict with the React dev server

[2016-12-13 16:57] #90 closed

[2016-12-13 16:59] JacksonBates commented on #91
Once the 'other' field is implemented, we can make setup a required field

[2016-12-13 17:18] fotonist commented on #90
how can  I connect?

[2016-12-13 21:43] JacksonBates commented on #90
You only need to run `node server/server` in one terminal window and then `npm start` in the other.

Your Pull Request isn't necessary (and introduces a bug - I couldn't run `node server/server` in you version), so I'll close it.

Let me know if you need more help getting it running.

[2016-12-14 02:20] JacksonBates opened #93 "Audio ping when new card is posted"
A nice touch would be to have a simple audio notification when a new card is posted.

This would allow someone to have the tab open in the background and then hear when a new potential pair partner posts something immediately.

[2016-12-14 02:26] DavidJaimesDesign commented on #93
I got this one! Woo hoo first real contribution!

[2016-12-14 02:33] JacksonBates commented on #93
God speed, brave contributor.

[2016-12-14 10:09] fotonist commented on #90
Yes, `@jenovs` told me before and it worked but now I am trying same things but getting error message.
![capture](https://cloud.githubusercontent.com/assets/20875928/21177988/832ebfa4-c1fe-11e6-9370-1fb495da7ea3.JPG)

[2016-12-14 10:35] jenovs commented on #90
Look into `server.js` file, it seems that something there is messed up.
Do `fetch` from source and update your local copy (see `CONTRIBUTING.md`);
https://github.com/JacksonBates/pair-frontend/blob/master/CONTRIBUTING.md#how-to-sync-your-local-repo-with-the-original-repo

[2016-12-30 00:45] ChrisGrayLDN commented on #50
If no-one else is picking this up then I'm happy to take it up? @JacksonBates @IsaacAbrahamson

[2016-12-30 06:48] #50 closed

[2017-01-02 12:20] BenGitter commented on #87
Note that if you try to type in the "Other" field it will give a `400 Bad Request` from the server.

It seems like the `setup` property that is send to the server contains the first letter you "input" (invisibly) in the "Other" field.

[2017-01-02 13:17] BenGitter commented on #87
Selecting "Preferred Technologies" doesn't work either, because it doesn't run `handleChange`. This doesn't throw an error, but it simply won't show anything (because it wasn't sent).

I found the error (in case nobody else did it already): The server expects `setup` to be an array (which should be created from the "Preferred Technologies", which it doesn't). But the real problem is that the "Othe

[2017-01-03 02:28] #87 closed